// To use Sass file in HTML, you need to compile it to CSS
// to compile into CSS, go to the package.json file and add a new start script
// any changes to a Sass file, will not change the .css file unless it is compiled again
// can add "--watch" to scripts to watch for changes to .scss and then compile for .css automatically, if npm start is also entered into the terminal"


// importing partial
@import "default";


// Variable is a way to store information, that you want to reuse, throughout your stylesheet
// can store things like colors, font size, etc.
// Sass uses the dollar sign to create a variable
$primary-color: lightblue;
$primary-font: sans-serif, 'cursive';

body{
    background: $primary-color;
    font-family: $primary-font;
}


// Example of nesting
.container{
    width:100%;
    height:100%;
    nav{
        ul{
            li{
                font-size:1em;
            }
        }
        a{
            text-decoration: none;
        }
    }
}


// Mixins are like a function with JavaScript but with different syntax

.transform{
    width:150px;
    height:80px;
    background-color: yellow;
    -ms-transform: rotate(20deg) scale(1.5);  /*IE 9*/
    -webkit-transform: rotate(20deg) scale(1.5);  /*Safari 3-8*/
    transform: rotate(20deg) scale(1.5);
}